#reg{
    background-color:#c5d5Cb;
}
#reglogin {

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.66);
    text-shadow: 2px 2px 4px #fff;
    box-shadow: 2px 2px 9px 4px #000;

}
label {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
   
    .col-xs-12 {
        width: 100%;
    }
    
#register{
    margin-top: 15px;
   
}
#message1{
    color: red;
}
